// ナナ
.contact {
    display: flex;
    max-width: 1170px;
    // height: 500px;
    margin: 0 auto;
    justify-content: center;


    .client {
        padding: 0 40px;
        border-right: 2px solid black;
        width: 50%;
    }

    .contact-title {
        font-size: 25px;
        background: linear-gradient(transparent 75%, #ffff7f 75%);
    }

    .contact-text {
        margin: 30px auto;
    }

    input {
        width: 95%;
        border: solid 1px black;
    }

    textarea {
        width: 95%;
        height: 40%;
        border: solid 1px black;

    }

    button {
        background-color: black;
        color: white;
        width: 95%;
        text-align: center;
        padding: 18px;
    }



    .liver {
        width: 50%;
        margin-left: 30px;

        .liver-title {
            font-size: 25px;
            background: linear-gradient(transparent 75%, green 75%);
        }

        .whatup {
            max-width: 40%;
        }

        .arrow {
            max-width: 12%;
        }
    }

}


// RESPONSIVE

@media screen and (max-width:767px) {

    .contact {
        display: block;

        .client,
        .liver {
            width: auto;
        }

        .liver {
            margin: 0 auto;
            align-items: center;
            display: flex;
            flex-direction: column;

            .arrow {
                transform: rotate(90deg);
            }

        }

    }
}