// ナナ
.contact {
    display: flex;
    max-width: 1170px;
    height: 400px;
    margin: 10 auto;
    justify-content: center;


    .client {
        height: 100%;
        padding: 0 40px;
        border-right: 2px solid black;

    }

    .contact-title {
        font-size: 25px;
        background: linear-gradient(transparent 75%, #ffff7f 75%);
    }


    input {
        width: 95%;
        border: solid 1px black;
    }

    textarea {
        width: 95%;
        height: 40%;
        border: solid 1px black;

    }

    button {
        background-color: black;
        color: white;
        width: 95%;
        text-align: center;
    }



    .liver {
        width: 35%;
        margin-left: 30px;

        .liver-title {
            font-size: 25px;
            background: linear-gradient(transparent 75%, green 75%);
            width: 30%;
        }

        .whatup {
            max-width: 40%;
        }

        .arrow {
            max-width: 12%;
        }
    }

}