
// ナナ
.header-li{
    display: flex;
    justify-content: end;
    font-size: 22px;
    
    
    li{
        margin-right: 40px;
    }
   
}

.kv{
    width: 89%;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;

    .kv-left{
        width: 24.3%;
    }

    .kv-center{
        .p1{
            font-size: 29px;
        }
        .p-title{
            font-size: 63px;
        }
        .p2{
            font-size: 24px;
        }

    }


    .kv-right{
        width: 24.3%;
    }

    .kv-img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 30;
    }
}


@media screen and (max-width:767px){
    .header-li{
        display: block;
        display: none;
    }
  

    .kv{
        display: block;
        
        .kv-left{
            display: flex;
            flex-direction: row-reverse;
            

    }

    .kv-center{
        .p1{
            font-size: 4vw;
        }
        .p-title{
            font-size: 8.6vw;
        }
        .p2{
            font-size: 3.7vw;
        }
    }
    
    .kv-right{
        display: flex;
        flex-direction: row-reverse;
      
    }


}

}